*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2E2F34;
    max-width: 1140px;
    margin: 0 auto;
}

:root{
    --color-rojo : #EF4C27;
    

}