header{
    background-color: var(--color-rojo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    height: 180px;
    width: 100%;
    margin-bottom: 20px;
}
header a{
    text-transform: uppercase;
    color: #FFF;
}

@media (min-width : 768px){
    header{
        flex-direction: row;
        height: 80px;
        flex-wrap: wrap;
    }
    header .logo{
        width: 20%;
    }
    header nav{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header ul{
        display: flex;
    }
    header ul li{
        margin-left: 8px;
    }
}

@media (min-width  : 1024px){
    header .logo{
        width: 10%;
    }

    
    header nav{
        width: 90%;
    }
}